<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate Generator</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Rubik+Moonrocks&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="{{ url_for('main.index') }}" class="navbar-brand">CertifyMe</a>
            <div class="navbar-nav">
                <a href="{{ url_for('main.index') }}" class="nav-item">Generate</a>
                <a href="{{ url_for('main.verify') }}" class="nav-item">Verify</a>
            </div>
        </div>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p>&copy; 2024 CertifyMe. All rights reserved.</p>
    </footer>
</body>
</html>
